@font-face {
    font-family: 'iran-yekan';
    src: url('/iranyekanwebregular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

* {
    font-family: "iran-yekan";
}

body {
    background-color: black;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 300px;
    font-family: "iran-yekan", sans-serif;
}

#modal-close {
    float: left;
    font-size: 24px;
    cursor: pointer;
}